<a href="javascript:void(0)" title="{{ title }}">
    <span class="billing done" title="Déjà facturé : {{ done }}%" style="width: {{ done }}%;"><span class="screen-reader-text">Déjà facturé : </span><span class="value">{{ done }}</span></span>
    <span class="billing todo" title="À facturer : {{ current }}%" style="width: {{ current }}%;"><span class="screen-reader-text">A facturer : </span><span class="value">{{ current }}%</span></span>
    <span class="billing remain" title="Restera à facturer : {{ left }}%" style="width: {{ left }}%;"><span class="screen-reader-text">Restera à facturer : </span><span class="value">{{ left }}%</span></span>
</a>