<h2 class="title">Documents générés depuis cette étude de prix</h2>
<div>
	<div class='alert alert-info'>
		<span class="icon"><svg><use href="/static/icons/endi.svg#info-circle"></use></svg></span>
		Vous pouvez retrouver les documents générés depuis cette étude de prix.
		{{#if edit}}
		<br />
		En synchronisant l’étude de prix avec un document (pas encore validé), vous pouvez regénérer les prestations depuis les données présentées ci-dessous.
		{{/if}}
	</div>
	<div class='table_container'>
		<table class="hover_table">
			<thead>
				<tr>
					<th scope="col" class="col_text" title="Document"><span class="screen-reader-text">Document</span></th>
					<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
				</tr>
			</thead>
			<tbody>
			{{#each tasks}}
				<tr>
					<td class='col_text' onclick='document.location={{this.url}}' title="Voir le document « {{this.label}} »">{{this.type_label}} : {{this.label}}</td>
					<td class='col_actions width_two'>
					<a href='{{this.url}}' class='btn icon only' title="Voir le document « {{this.label}} »" aria-label="Voir le document « {{this.label}} »"><svg><use href="/static/icons/endi.svg#arrow-right"></use></svg></a>
					{{#if sync_url}}
					<a class='btn icon only' href='{{this.sync_url}}' onclick="return confirm('En synchronisant les données, vous écraserez les prestations existantes du document. Continuer ?')" title="Synchroniser le contenu de l’étude de prix avec le document {{this.label}}">
					<svg><use href="/static/icons/endi.svg#redo-alt"></use></svg></a>
					{{/if}}
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>
