<table class="hover_table sortable-table">
  <caption class="screen-reader-text">Liste des produits du catalogue</caption>
  <thead>
    <tr>
      <th class="col_text"></th>
      <th class="col_text sortable desc" scope="col" data-sort="id">
        <a href="#" aria-label="Trier par id (ordre croissant)" title="Trier par id (ordre croissant)" class="icon desc">
          <svg><use href="/static/icons/endi.svg#sort-desc"></use></svg>
          ID
        </a>
      </th>
      <th class="col_text sortable" scope="col" data-sort="label">
        <a href="#" aria-label="Trier par nom" class="icon">
          <svg><use href="/static/icons/endi.svg#sort-sort"></use></svg>
          Nom interne
        </a>
      </th>
      <th class="col_text" scope="col">Référence</th>
      <th class="col_text sortable" scope="col" data-sort="supplier_id">
        <a href="#" aria-label="Trier par fournisseur" class="icon">
          <svg><use href="/static/icons/endi.svg#sort-sort"></use></svg>
          Fournisseur
        </a>
      </th>
      <th class="col_text" scope="col">Catégorie</th>
      <th class="col_number sortable" scope="col" data-sort="current_stock">
        <a href="#" aria-label="Trier par stock" class="icon">
          <svg><use href="/static/icons/endi.svg#sort-sort"></use></svg>
          Stock
        </a>
      </th>
      <th class="col_number" scope="col">Coût</th>
      <th class="col_number sortable" scope="col" data-sort="ht">
          <a href="#" aria-label="Trier par ht" class="icon">
              <svg><use href="/static/icons/endi.svg#sort-sort"></use></svg>
              Prix de vente
          </a>
      </th>
      <th class="col_text" scope="col">Unité</th>
      <th class="col_text" scope="col">TVA</th>
      <th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
