<h2 class="title">
	<span class="icon status error" title="Ce bloc comporte une erreur">
		<svg><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
	</span>
	<span class="icon status success" title="Ce bloc est valide">
		<svg><use href="/static/icons/endi.svg#check"></use></svg>
	</span>
	Fichiers requis <small>(requis pour la validation)</small>
</h2>
<div class='content'>
	<div class='table_container'>
		<table class='files'>
		</table>
	</div>
</div>
