<h2 class='title'>
<!-- Ne pas mettre cette icône tout le temps, mais seulement quand il n’y a pas de produit ? -->
	<span class="icon status caution" title="Il faut au moins un produit pour créer un produit composé">
    	<svg><use href="/static/icons/endi.svg#danger"></use></svg>
	</span>
	Liste des produits
</h2>
<div class="table_container items">
    <table class="hover_table">
            <caption class='screen-reader-text'>
                Liste des produits composants le produit composé
            </caption>
            <thead>
                <tr>
                    <th scope='col' class='col_text'></th>
                    <th scope="col" class="col_text">Description</th>
                    <th scope="col" title="Coût unitaire Hors Taxe" class="col_number">
                        Coût unit<span class="screen-reader-text">aire</span>. HT
                    </th>
                    <th scope="col" title="Prix unitaire Hors Taxe" class="col_number">
                        Prix unit<span class="screen-reader-text">aire</span>. HT
                    </th>
                    <th scope="col" class="col_number" title="Quantité">
                        Q<span class="screen-reader-text">uanti</span>té
                    </th>
                    <th scope="col">Unité</th>
                   <th scope="col" class="col_text" title="Taux de TVA">
                        <span class="screen-reader-text">Taux de </span>TVA
                    </th>
                    <th scope="col" class="col_text" title="Compte produit">
                    	Compte produit
                    </th>
                    <th scope="col" class="col_number" title="Prix Hors Taxe">      <span class="screen-reader-text">Prix </span>HT
                    </th>
                    <th scope="col" class="col_actions" title="Actions">
                        <span class="screen-reader-text">Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            	<tr>
            		<td class="col_actions" colspan="12">
						<ul>
							<li class='add'></li>
						</ul>
            		</td>
            	</tr>
            </tfoot>
    </table>
<div class='popin'></div>
</div>
