<div class="layout flex two_cols document_header">
	<h4>Justificatif</h4>
	<div class="controls align_right"></div>
</div>
<div class="document_container">
    <div id="viewer" class="pdfViewer"></div>
</div>
<p class="help_text">
	<span class="icon">
		<svg><use href="/static/icons/endi.svg#info-circle"></use></svg>
	</span>
	<small>
		<em>Pour les PDF originaux, le copier-coller est possible.</em>
	</small>
</p>
