
<div role="dialog" id="expense_status_change_form" aria-modal="true" aria-labelledby="expense_status_change_form_title">
    <form class='form' data-url='{{ url }}' method='POST'>
    	<div class="modal_layout">
            <header>
                <button class="icon only unstyled close" title="Fermer cette fenêtre" type='button'>
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="expense_status_change_form_title">
                    {{ title }}
                </h2>
            </header>
            <main>
                {{#if help_text}}
                <div class='alert alert-info'>{{help_text}}</div>
                {{/if}}
                <div class='form-group'>
                    <label for='comment'>Commentaires</label>
                    <textarea class='form-control' name='comment' rows=4></textarea>
                </div>
            </main>
            <footer>
                <button class='btn btn-primary icon' type='submit' value='{{status}}'><svg><use href="/static/icons/endi.svg#save"></use></svg> {{label}}</button>
                <button class='btn icon cancel' type='button'><svg><use href="/static/icons/endi.svg#times"></use></svg> Annuler</button>
            </footer>
    	</div>
    </form>
</div>
