<td class="col_date">{{ alt_start_date }}</td>
<td class="col_date">{{ alt_end_date }}</td>
<td class="col_actions width_two">
	<ul>
		<li>
			<a class='btn icon only edit' title='Modifier' aria-label='Modifier'><svg><use href="/static/icons/endi.svg#pen"></use></svg></a>
		</li>
		<li>
			<a class='btn icon only negative remove' title='Supprimer' aria-label='Supprimer'><svg><use href="/static/icons/endi.svg#trash-alt"></use></svg></a>
		</li>
	</ul>
</td>
