<section id="payments_form" class="modal_view size_small">
	<form class='form taskline-form'>
    <div role="dialog" id="payments-forms" aria-modal="true" aria-labelledby="payments-forms_title">
        <div class="modal_layout">
				<header>
					<button class="icon only unstyled close" type='button' title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre" onclick="toggleModal('payments_form'); return false;">
						<svg><use href="/static/icons/endi.svg#times"></use></svg>
					</button>
					<h2 id="payments-forms_title">{{ title }}</h2>
				</header>
				<main>
					<div class='order'></div>
					<div class='description required'></div>
					<div class='date required'></div>
					<div class='amount required'></div>
				</main>
				<footer>
					<button
						class='btn btn-primary btn-success'
						type='submit'
						value='submit'>
						{{ title }}
					</button>
					<button
						class='btn'
						type='reset'
						value='cancel'>
						Annuler
					</button>
				</footer>

        </div>
    </div>
	</form>
</section>
