:root {
	--menu-border-width: 5px;
	--menu-mini-width: 2.5rem; // 40px
	--menu-maxi-width: 15.625rem; // 250px
	--menu-slide-margin: -13.125rem; // mini-width - maxi-width; -210px
}
@media ( max-width: $wideWidth ) {
	:root {
		--menu-horizontal-padding: 1rem;
		--menu-horizontal-negative-margin: -1rem;
		--menu-link-padding: calc( 1rem - 5px );
		--menu-sub-link-padding: calc( 1rem + 5px );
	}
}
@media ( min-width: $wideWidth ) {
	:root {
		--menu-horizontal-padding: 2rem;
		--menu-horizontal-negative-margin: -2rem;
		--menu-link-padding: calc( 2rem - 5px );
		--menu-maxi-width: 18.75rem; // 300px
		--menu-slide-margin: -16.25rem; // mini-width - maxi-width; -260px
		--menu-sub-link-padding: calc( 2rem + 10px );
	}
}