                                            <td class="col_text clickable-cell" {{{ insertAttrs }}}>
                                                <strong>{{ typelabel }}</strong>
                                                {{#if description}}
													<br />
													{{ description }}
												{{/if}}
											</td>
											<td class="col_number clickable-cell" {{{ insertAttrs }}}>
                                                {{{ ht }}}
                                            </td>
											<td class="col_number clickable-cell" {{ insertAttrs }}>
                                                {{{ tva }}}
                                            </td>
											<td class="col_actions width_two">
												<ul>
													<li>
														<button class='btn icon only main btn-success insert' {{{  insertAttrs }}}><svg><use href="/static/icons/endi.svg#check"></use></svg></button>
													</li>
													<li>
														<button class='btn icon only negative btn-danger delete' title='Supprimer ce favori' aria-label='Supprimer ce favori'><svg><use href="/static/icons/endi.svg#trash-alt"></use></svg></button>
													</li>
												</ul>
											</td>
