<h2 class="title">Remises</h2>
<div class="table_container items">
    <table class="hover_table">
		<caption class='screen-reader-text'>
			Liste des remises accordées au client dans cette étude de prix
		</caption>
		<thead>
			<tr>
				<th scope="col" class="col_text">Description</th>
				<th scope="col" class="col_number" title="Prix Hors Taxe">
					<span class="screen-reader-text">Pourcentage </span>%
				</th>
				<th scope="col" class="col_number" title="Prix Hors Taxe">
					<span class="screen-reader-text">Prix </span>HT
				</th>
				<th scope="col" class="col_text" title="Taux de TVA">
					<span class="screen-reader-text">Taux de </span>TVA
				</th>
				<th scope="col" class="col_actions width_two" title="Actions">
					<span class="screen-reader-text">Actions</span>
				</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
<!-- 
		<tfoot>
			<tr>
				<td class="col_actions" colspan="5">
					<ul>
						<li class='add'></li>
					</ul>
				</td>
			</tr>
		</tfoot>
 -->
    </table>
    <div class='popin'></div>
</div>