// main content header

body.endi .main_header {
	background: var(--theme-color);
	color: var(--theme-text-color);
	flex: 0 0 3.5rem;
	position: relative;
// 	svg[class^="theme"] {
// 		display: none;
// 		fill: var(--theme-text-color);
// 		height: 1rem;
// 		left: -.25rem;
// 		position: absolute;
// 		top: .25rem;
// 		width: 1rem;
// 		z-index: 0;
// 	}
// 	.breadcrumbs {
// 		font-size: .75rem;
// 		font-weight: 200;
// 		a {
// 			color: var(--theme-text-color);
// 			text-decoration: none;
// 			&:hover,
// 			&:focus,
// 			&:active {
// 				text-decoration: underline;
// 			}
// 		}
// 	}
	h1 {
		font-size: 1.25rem;
		line-height: 1.125;
		overflow: hidden;
		padding: 0;
		&::first-line {
			font-size: 1.5rem;
			line-height: 1.25;
		}
		.icon {
			background: var(--icon-neutral-color);
			border-radius: .25rem;
			display: inline-block;
			height: 1.5rem;
			padding: .25rem;
			vertical-align: text-bottom;
			width: 1.5rem;
			svg {
				fill: $white;
				height: 1rem;
				margin: 0 !important;
				vertical-align: text-top;
				width: 1rem;
			}
		}
		&.status-valid .icon,
		&.status-resulted .icon,
		&.status-paid .icon {
			background: $funcPositive;
		}
		&.status-invalid .icon {
			background: $funcNegative;
		}		
		&.status-wait .icon {
			background: var(--func-neutral-color);
		}		
	}
	&.positive {
		background: $funcPositive !important;
	}
	&.negative {
		background: $funcNegative !important;
	}
	.header_content {
		align-items: center;
		height: 100%;
		justify-content: space-between;
		max-width: 100%;
		&.layout.flex {
			flex-wrap: nowrap;
		}
	}
// 	ul.tools {
// 		list-style-type: none;
// 		margin-right: 0;
// 		padding-top: 10px;
// 		li {
// 			margin-left: 20px;
// 		}
// 		li > button,
// 		li > span {
// 			color: var(--theme-text-color);
// 			position: relative;
// 			svg {
// 				fill: var(--theme-text-color);
// 				height: 2rem;
// 				width: 2rem;
// 			}
// 		}
// 	}
}
@media ( min-width: $desktopWidth ) {
	body.endi .main_header {
		padding: 0 $contentHorPadding;
		svg[class^="theme"] {
			height: 1.75rem;
			left: -.5rem;
			top: 1.75rem;
			width: 1.75rem;
		}
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi .main_header {
		padding: 0 $contentHorPadding/2;
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .main_header {
		padding: 0 $contentHorPadding/6 0 $contentHorPadding*1.5;
		svg[class^="theme"] {
			position: static;
			vertical-align: text-bottom;
		}
// 		.breadcrumbs {
// 			height: 2rem;
// 			overflow: hidden;
// 			padding: 0 3rem;
// 		}
		h1 {
			width: calc( 100vw - 3.4375rem );
		}
// 		ul.tools {
// 			padding-top: 0;
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			a svg {
// 				height: 1.5rem;
// 				margin: .5625rem;
// 				width: 1.5rem;
// 			}
// 		}
	}
}
body.endi.theme_manage_people .main_header {
	svg.theme_people {
		display: inline-block;
	}
}
body.endi.theme_manage_entity .main_header {
	svg.theme_entity {
		display: inline-block;
	}
}
@media print { // styles used when printing pages
	body.endi .main_header {
		padding: 0;
// 		.tools {
// 			display: none;
// 		}
	}
}