body.endi {
  /* Attestation SAP */ }
  body.endi[class*="preview-view"] {
    background: white;
    color: black; }
    body.endi[class*="preview-view"] img.wtmk {
      height: auto;
      max-height: 100vh;
      opacity: .33;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2; }
  body.endi .task_header {
    margin: 5px; }
    body.endi .task_header .full_banner {
      height: auto;
      max-width: 100%; }
    body.endi .task_header .pdf_logo {
      border: 0 none white;
      width: auto; }
      body.endi .task_header .pdf_logo tr {
        background: none !important; }
      body.endi .task_header .pdf_logo td {
        border: 0 none white;
        text-align: left;
        vertical-align: middle; }
        body.endi .task_header .pdf_logo td.logo_cell {
          height: 140px;
          overflow: hidden;
          width: 140px; }
      body.endi .task_header .pdf_logo .logo_img {
        height: auto;
        width: 128px; }
    body.endi .task_header .pdf_address_block {
      display: flex;
      justify-content: flex-end; }
      body.endi .task_header .pdf_address_block > div {
        background: rgba(255, 255, 255, 0.8);
        display: inline-block;
        margin-right: 3em;
        position: relative;
        width: 23em;
        padding: 30px; }
        body.endi .task_header .pdf_address_block > div .corner {
          border: 1px dotted #b0b0b0;
          height: 2em;
          display: block;
          position: absolute;
          width: 2em; }
          body.endi .task_header .pdf_address_block > div .corner.bottom {
            border-top-width: 0;
            bottom: 0; }
          body.endi .task_header .pdf_address_block > div .corner.left {
            border-right-width: 0;
            left: 0; }
          body.endi .task_header .pdf_address_block > div .corner.right {
            border-left-width: 0;
            right: 0; }
          body.endi .task_header .pdf_address_block > div .corner.top {
            border-bottom-width: 0;
            top: 0; }
  body.endi .task_view {
    background: white;
    color: black; }
    body.endi .task_view.tab_preview {
      box-shadow: none;
      position: relative; }
      body.endi .task_view.tab_preview img.wtmk {
        height: auto;
        max-height: 100%;
        opacity: .33;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2; }
    body.endi .task_view > div {
      margin: 5px; }
      body.endi .task_view > div .pdf_mention_block {
        margin-left: 0;
        margin-right: 0; }
    body.endi .task_view .pdf_information {
      font-size: .875em; }
      body.endi .task_view .pdf_information h3 {
        font-size: 1.25rem;
        padding: 5px 0; }
      body.endi .task_view .pdf_information .coop_header {
        background: rgba(255, 255, 255, 0.8);
        border: 3px solid #efefef;
        margin-top: 5px;
        padding: 5px; }
      body.endi .task_view .pdf_information .info_cols {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px; }
        body.endi .task_view .pdf_information .info_cols .customer_info {
          flex: 0 0 calc( 26rem - 30px);
          margin-left: 5px;
          padding-top: .75em; }
    body.endi .task_view .pdf_mention_block {
      background: rgba(255, 255, 255, 0.8);
      border: 3px solid #efefef;
      margin: 15px 5px 0; }
      body.endi .task_view .pdf_mention_block h4 {
        background: #efefef;
        border: none;
        color: black;
        padding: 0 5px 2.5px; }
      body.endi .task_view .pdf_mention_block p {
        font-size: .875rem;
        padding: 5px; }
    body.endi .task_view .document_help {
      font-size: .75rem; }
    body.endi .task_view .notes_group {
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch; }
      body.endi .task_view .notes_group > div {
        flex: 1 1 calc( 50% - 5px); }
        body.endi .task_view .notes_group > div.options {
          display: flex;
          flex-direction: column;
          justify-content: center; }
        body.endi .task_view .notes_group > div + div:nth-child(2n) {
          margin-left: 5px; }
    body.endi .task_view .payment_conditions > div {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      padding: 5px; }
      body.endi .task_view .payment_conditions > div p,
      body.endi .task_view .payment_conditions > div > div {
        flex: 0 0 50%; }
      body.endi .task_view .payment_conditions > div p {
        padding: 0 5px 0 0; }
      body.endi .task_view .payment_conditions > div > div {
        padding-left: 5px; }
    body.endi .task_view .estimation_last_mention {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      margin: 0 5px; }
      body.endi .task_view .estimation_last_mention .pdf_mention_block {
        flex: 0 0 calc( 100% - 19em); }
      body.endi .task_view .estimation_last_mention .pdf_sign_block {
        margin: 15px 0 0;
        flex: 0 0 18em; }
        body.endi .task_view .estimation_last_mention .pdf_sign_block > div {
          border: 3px solid #efefef;
          width: 18em; }
          body.endi .task_view .estimation_last_mention .pdf_sign_block > div h4 {
            background: #efefef;
            padding: 0 5px 2.5px; }
          body.endi .task_view .estimation_last_mention .pdf_sign_block > div p {
            padding: 10px; }
          body.endi .task_view .estimation_last_mention .pdf_sign_block > div .signature {
            height: 6em; }
    body.endi .task_view .pdf_task_table {
      margin-bottom: 20px;
      margin-top: 10px; }
      body.endi .task_view .pdf_task_table + .pdf_task_table {
        margin-top: -10px; }
      body.endi .task_view .pdf_task_table h1 {
        background: none;
        color: black; }
    body.endi .task_view .pdf_spacer {
      display: none; }
    body.endi .task_view table {
      background: rgba(255, 255, 255, 0.8);
      border-collapse: collapse;
      border: 1px solid #808080;
      border-width: 2px 0;
      width: 100%; }
      body.endi .task_view table + table {
        border-top-width: 0;
        margin-top: -1px; }
      body.endi .task_view table tbody th,
      body.endi .task_view table tbody td,
      body.endi .task_view table thead th,
      body.endi .task_view table thead td,
      body.endi .task_view table tfoot th,
      body.endi .task_view table tfoot td {
        background: none;
        border: 1px solid #808080;
        border-width: 1px 0 0;
        padding: 4px; }
      body.endi .task_view table tbody th,
      body.endi .task_view table thead th,
      body.endi .task_view table tfoot th {
        vertical-align: bottom; }
      body.endi .task_view table tbody td,
      body.endi .task_view table thead td,
      body.endi .task_view table tfoot td {
        vertical-align: top; }
      body.endi .task_view table tbody td.empty,
      body.endi .task_view table thead td.empty,
      body.endi .task_view table tfoot td.empty {
        border-width: 0; }
      body.endi .task_view table tbody tr:nth-child(2n+1),
      body.endi .task_view table thead tr:nth-child(2n+1),
      body.endi .task_view table tfoot tr:nth-child(2n+1) {
        background: none !important; }
      body.endi .task_view table tbody td.archive,
      body.endi .task_view table thead td.archive,
      body.endi .task_view table tfoot td.archive {
        color: #757575;
        font-style: italic; }
      body.endi .task_view table tbody tr.long_description td,
      body.endi .task_view table thead tr.long_description td,
      body.endi .task_view table tfoot tr.long_description td {
        border-width: 0;
        padding: 0 4px 4px; }
      body.endi .task_view table .col_text {
        hyphens: auto;
        text-align: left; }
        body.endi .task_view table .col_text.description {
          overflow-wrap: anywhere; }
        body.endi .task_view table .col_text.unity {
          overflow-wrap: break-word;
          width: 5em; }
        body.endi .task_view table .col_text.align_right {
          text-align: right; }
        body.endi .task_view table .col_text.rich_text ul {
          list-style-position: outside;
          margin-left: 20px; }
          body.endi .task_view table .col_text.rich_text ul li:first-child {
            padding-top: 4px; }
          body.endi .task_view table .col_text.rich_text ul li:last-child {
            padding-bottom: 0; }
      body.endi .task_view table .col_date {
        width: 8em; }
      body.endi .task_view table .progress_invoicing,
      body.endi .task_view table .price,
      body.endi .task_view table .price_total {
        width: 6em; }
      body.endi .task_view table .price_total {
        background: rgba(128, 128, 128, 0.05); }
      body.endi .task_view table .quantity {
        width: 3em; }
      body.endi .task_view table .tva {
        width: 4.5em; }
    body.endi .task_view .pdf_task_table table {
      border-width: 0; }
      body.endi .task_view .pdf_task_table table:first-child {
        border-top-width: 2px; }
      body.endi .task_view .pdf_task_table table:last-child {
        border-bottom-width: 2px; }
    body.endi .task_view .cgv-container {
      border-top: 1px dashed var(--border-color);
      margin-top: 20px; }
  body.endi .pdf_footer {
    background: rgba(128, 128, 128, 0.05);
    font-size: .75rem;
    margin: 20px -5px 5px;
    padding: 5px 5px 0;
    text-align: center; }
    body.endi .pdf_footer h4 {
      font-size: .75rem;
      padding-top: 10px; }
    body.endi .pdf_footer p:last-child {
      padding-bottom: 5px; }
  body.endi .pdf_page_number {
    font-size: .875rem;
    text-align: center; }
    body.endi .pdf_page_number .page_count {
      display: none; }
  body.endi .cgv-container {
    border-top: 1px dashed rgba(128, 128, 128, 0.5);
    margin: 30px 0 5px; }
  body.endi .pdf_cgv {
    font-size: .75rem;
    padding: 20px 5px;
    text-align: justify; }
  body.endi .sap_group {
    border-bottom-width: 0; }
  body.endi .sap_month {
    width: 12em; }
  body.endi .sap_label {
    width: 18em; }
  body.endi .sap_bottom_mention, body.endi .sap_bottom_signature {
    width: 50%; }
  body.endi .sap_bottom_signature {
    text-align: right; }
    body.endi .sap_bottom_signature img {
      max-width: 12rem;
      max-height: 12rem; }

body.endi.endi_popup[class*="preview-view"] .main_area {
  padding: 5px; }

body.endi.endi_popup .pdf_footer {
  margin: 5px 0; }

body.endi.endi_popup .pdf_cgv {
  padding: 20px 10px; }

@media (max-width: 50rem) {
  body.endi .tab-content .layout.two_cols > * {
    width: 100%; }
  body.endi .tab-content .layout.two_cols > div {
    padding-left: 0;
    padding-right: 0; }
  body.endi .tab-content .task_view.tab_preview {
    overflow-x: auto; }
    body.endi .tab-content .task_view.tab_preview > * {
      min-width: 52em; } }

body.endi.pdf_export html {
  font-size: 9pt; }
