body.endi[class*="estimations/{id}"] .main_actions div[role="group"],
body.endi[class*="invoices/{id}"] .main_actions div[role="group"] {
  order: 0; }

body.endi[class*="estimations/{id}"] .main_actions .child-container > div,
body.endi[class*="invoices/{id}"] .main_actions .child-container > div {
  display: flex; }
  body.endi[class*="estimations/{id}"] .main_actions .child-container > div > div,
  body.endi[class*="invoices/{id}"] .main_actions .child-container > div > div {
    margin: 0 0 5px 5px; }

body.endi[class*="estimations/{id}"] .layout.flex div[class*="col-md"] > div:not(:last-child),
body.endi[class*="invoices/{id}"] .layout.flex div[class*="col-md"] > div:not(:last-child) {
  padding-bottom: 20px; }

body.endi[class*="estimations/{id}"] .quotation_item_title,
body.endi[class*="invoices/{id}"] .quotation_item_title {
  justify-content: space-between;
  padding: 0 2px 5px;
  width: 100%; }
  body.endi[class*="estimations/{id}"] .quotation_item_title h3 em,
  body.endi[class*="invoices/{id}"] .quotation_item_title h3 em {
    font-weight: normal; }
  body.endi[class*="estimations/{id}"] .quotation_item_title > div:last-child,
  body.endi[class*="invoices/{id}"] .quotation_item_title > div:last-child {
    white-space: nowrap; }
  body.endi[class*="estimations/{id}"] .quotation_item_title .btn.up,
  body.endi[class*="estimations/{id}"] .quotation_item_title .btn.down,
  body.endi[class*="invoices/{id}"] .quotation_item_title .btn.up,
  body.endi[class*="invoices/{id}"] .quotation_item_title .btn.down {
    background-color: transparent;
    border-color: transparent; }
    body.endi[class*="estimations/{id}"] .quotation_item_title .btn.up svg,
    body.endi[class*="estimations/{id}"] .quotation_item_title .btn.down svg,
    body.endi[class*="invoices/{id}"] .quotation_item_title .btn.up svg,
    body.endi[class*="invoices/{id}"] .quotation_item_title .btn.down svg {
      fill: var(--table-order-button-color); }
    body.endi[class*="estimations/{id}"] .quotation_item_title .btn.up:hover, body.endi[class*="estimations/{id}"] .quotation_item_title .btn.up:focus, body.endi[class*="estimations/{id}"] .quotation_item_title .btn.up:active,
    body.endi[class*="estimations/{id}"] .quotation_item_title .btn.down:hover,
    body.endi[class*="estimations/{id}"] .quotation_item_title .btn.down:focus,
    body.endi[class*="estimations/{id}"] .quotation_item_title .btn.down:active,
    body.endi[class*="invoices/{id}"] .quotation_item_title .btn.up:hover,
    body.endi[class*="invoices/{id}"] .quotation_item_title .btn.up:focus,
    body.endi[class*="invoices/{id}"] .quotation_item_title .btn.up:active,
    body.endi[class*="invoices/{id}"] .quotation_item_title .btn.down:hover,
    body.endi[class*="invoices/{id}"] .quotation_item_title .btn.down:focus,
    body.endi[class*="invoices/{id}"] .quotation_item_title .btn.down:active {
      background-color: var(--form-button-background-color);
      border-color: #1de67e; }
      body.endi[class*="estimations/{id}"] .quotation_item_title .btn.up:hover svg, body.endi[class*="estimations/{id}"] .quotation_item_title .btn.up:focus svg, body.endi[class*="estimations/{id}"] .quotation_item_title .btn.up:active svg,
      body.endi[class*="estimations/{id}"] .quotation_item_title .btn.down:hover svg,
      body.endi[class*="estimations/{id}"] .quotation_item_title .btn.down:focus svg,
      body.endi[class*="estimations/{id}"] .quotation_item_title .btn.down:active svg,
      body.endi[class*="invoices/{id}"] .quotation_item_title .btn.up:hover svg,
      body.endi[class*="invoices/{id}"] .quotation_item_title .btn.up:focus svg,
      body.endi[class*="invoices/{id}"] .quotation_item_title .btn.up:active svg,
      body.endi[class*="invoices/{id}"] .quotation_item_title .btn.down:hover svg,
      body.endi[class*="invoices/{id}"] .quotation_item_title .btn.down:focus svg,
      body.endi[class*="invoices/{id}"] .quotation_item_title .btn.down:active svg {
        fill: var(--form-button-icon-color); }

body.endi[class*="estimations/{id}"] .separate_block .form-group,
body.endi[class*="invoices/{id}"] .separate_block .form-group {
  padding-bottom: 5px; }

body.endi[class*="estimations/{id}"] .content > button,
body.endi[class*="invoices/{id}"] .content > button {
  margin: 5px; }

body.endi[class*="estimations/{id}"] .ht-before-discounts table tr.row_recap th,
body.endi[class*="estimations/{id}"] .ht-before-discounts table tr.row_recap td:not(.level_spacer):not(.empty),
body.endi[class*="invoices/{id}"] .ht-before-discounts table tr.row_recap th,
body.endi[class*="invoices/{id}"] .ht-before-discounts table tr.row_recap td:not(.level_spacer):not(.empty) {
  background: none; }

@media (min-width: 75rem) {
  body.endi[class*="estimations/{id}"] .main_actions div.totals,
  body.endi[class*="invoices/{id}"] .main_actions div.totals {
    order: 1; }
  body.endi[class*="estimations/{id}"] .main_actions div.child-container,
  body.endi[class*="invoices/{id}"] .main_actions div.child-container {
    order: 2; } }

@media (max-width: 75rem) {
  body.endi[class*="estimations/{id}"] .main_actions,
  body.endi[class*="invoices/{id}"] .main_actions {
    flex-wrap: wrap; }
    body.endi[class*="estimations/{id}"] .main_actions div.totals,
    body.endi[class*="invoices/{id}"] .main_actions div.totals {
      order: 2;
      width: 100%; }
    body.endi[class*="estimations/{id}"] .main_actions div.child-container,
    body.endi[class*="invoices/{id}"] .main_actions div.child-container {
      order: 1; } }
